In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [22]:
df = pd.read_csv('data/bakery_sales.csv')

In [23]:
df.head()

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price
0,0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €"
1,1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €"
2,4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €"
3,5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €"
4,8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €"

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234005 entries, 0 to 234004
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     234005 non-null  int64
 1   date           234005 non-null  object
 2   time           234005 non-null  object
 3   ticket_number  234005 non-null  float64
 4   article        234005 non-null  object
 5   Quantity       234005 non-null  float64
 6   unit_price     234005 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 12.5+ MB

In [25]:
df.describe(include="all")

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price
count,234005.000000,234005,234005,234005.000000,234005,234005.000000,234005
unique,NaN,600,683,NaN,149,NaN,123
top,NaN,2022-08-14,11:43,NaN,TRADITIONAL BAGUETTE,NaN,"1,20 €"
freq,NaN,997,859,NaN,67689,NaN,49080
mean,255205.035854,NaN,NaN,219201.258738,NaN,1.538377,NaN
std,147501.625992,NaN,NaN,40053.223896,NaN,1.289603,NaN
min,0.000000,NaN,NaN,150040.000000,NaN,-200.000000,NaN
25%,127979.000000,NaN,NaN,184754.000000,NaN,1.000000,NaN
50%,254573.000000,NaN,NaN,218807.000000,NaN,1.000000,NaN
75%,382911.000000,NaN,NaN,253927.000000,NaN,2.000000,NaN
max,511395.000000,NaN,NaN,288913.000000,NaN,200.000000,NaN

Siguientes pasos:

    1.- Eliminar features inutiles
    2.- poner variables en el formato correcto
    3.- Estudiar artículos